{{#link-to 'contacts' class="btn btn-primary"}}Contacts{{/link-to}}
{{#validatable-form action="createContact" model=model}}
  <label class='input-label'>First Name:</label>
  {{md-input type="text" min=3 validate=true pattern=".{3,}" value=model.firstName required=true title="First name is required" autofocus=true}}<br>
  <label class='input-label'>Last Name:</label>
  {{md-input type="text" validate=true pattern=".{3,}" value=model.lastName required=true title="Last name is required."}}<br>
  <label class='input-label'>Address:</label>
  {{md-input type="text" value=model.address}}<br>

  {{select-dropdown model countrySelected="countrySelected" stateSelected="stateSelected" class="select-component"}}


   <label class='input-label'>City:</label>
  {{md-input type="text" value=model.city}}<br>
  <label class='input-label'>Zip Code:</label>
  {{md-input type="text" value=model.zip}}<br>
  <label class='input-label'>Phone:</label>
  {{md-input type="tel" validate=true value=model.phone required=true title="Phone number is required"}}<br>
  <label class='input-label'>Email:</label>
  {{md-input type="email" value=model.email required=true title="Email is required"}}
  {{md-btn-submit text='Submit'}}
  {{md-btn text='Cancel'
	  action='cancelContact'
	  class='yellow darken-2'
	  id="cancel-contact"}}
{{/validatable-form}}
