{{#link-to 'contacts' class="btn btn-primary"}}Contacts{{/link-to}}
{{#validatable-form action="createContact" model=model}}
  <label>First Name:</label>
  {{input type="text" value=model.firstName required=true title="First name is required" autofocus=true}}<br>
  <span class="error"></span>
  <label>Last Name:</label>
  {{input type="text" value=model.lastName required=true title="Last name is required"}}<br>
  <label>Address:</label>
  {{input type="text" value=model.address}}<br>

  {{select-dropdown model}}

   <label>City:</label>
  {{input type="text" value=model.city}}<br>
  <label>Zip Code:</label>
  {{input type="text" value=model.zip}}<br>
  <label>Phone:</label>
  {{input type="text" value=model.phone required=true title="Phone number is required"}}<br>
  <label>Email:</label>
  {{input type="text" value=model.email required=true title="Email is required"}}<br>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button {{action "cancelContact"}} class="btn btn-warning">Cancel</button>

{{/validatable-form}}
