{{#link-to 'contacts' class="btn btn-primary"}}Contacts{{/link-to}}
{{#validatable-form action="createContact" model=model}}
  <label>First Name:</label>
  {{md-input type="text" value=model.firstName required=true title="First name is required" autofocus=true}}<br>
  <span class="error"></span>
  <label>Last Name:</label>
  {{md-input type="text" value=model.lastName required=true title="Last name is required"}}<br>
  <label>Address:</label>
  {{md-input type="text" value=model.address}}<br>

  {{select-dropdown model countrySelected="countrySelected" stateSelected="stateSelected"}}


   <label>City:</label>
  {{md-input type="text" value=model.city}}<br>
  <label>Zip Code:</label>
  {{md-input type="text" value=model.zip}}<br>
  <label>Phone:</label>
  {{md-input type="text" value=model.phone required=true title="Phone number is required"}}<br>
  <label>Email:</label>
  {{md-input type="email" value=model.email required=true title="Email is required"}}<br>
  {{md-btn-submit text='Submit'
	  class="green accent-4"}}
  {{md-btn text='Cancel'
	  action='cancelContact'
	  class='yellow darken-2'}}
{{/validatable-form}}
