{{#link-to 'contacts' class="btn btn-primary"}}Contacts{{/link-to}}
<form>
  <label>First Name:</label>  
  {{input type="text" value=model.firstName}}<br>
  <label>Last Name:</label>  
  {{input type="text" value=model.lastName}}<br>
  <label>Address:</label>  
  {{input type="text" value=model.address}}<br>
  <label>Country:</label>  
  {{input type="text" value=model.country}}<br>
  <label>City:</label>  
  {{input type="text" value=model.city}}<br>
  <label>State:</label>  
  {{input type="text" value=model.state}}<br>
  <label>Zip Code:</label>  
  {{input type="text" value=model.zip}}<br>
  <label>Phone:</label>  
  {{input type="text" value=model.phone}}<br>
  <label>Email:</label>  
  {{input type="text" value=model.email}}
</form>

<button {{action "updateContact"}} class="btn btn-primary">Update</button>
<br>



