<form>
  <label>First Name:</label>  
  {{input type="text" value=firstName}}<br>
  <label>Last Name:</label>  
  {{input type="text" value=lastName}}<br>
  <label>Address:</label>  
  {{input type="text" value=address}}<br>
  <label>Country:</label>  
  {{input type="text" value=country}}<br>
  <label>City:</label>  
  {{input type="text" value=city}}<br>
  <label>State:</label>  
  {{input type="text" value=state}}<br>
  <label>Zip Code:</label>  
  {{input type="text" value=zip}}<br>
  <label>Phone:</label>  
  {{input type="text" value=phone}}<br>
  <label>Email:</label>  
  {{input type="text" value=email}}
  <button {{action "createContact"}}>Submit</button>
</form>

<ul>
{{#each contact in model}}
<h3 id="title">{{contact.firstname}}  {{contact.lastname}}</h3>
  <li>{{contact.address}}</li>
  <li>{{contact.country}}</li>
  <li>{{contact.city}}</li>
  <li>{{contact.state}}</li>
  <li>{{contact.zip}}</li>
  <li>{{contact.phone}}</li>
  <li>{{contact.email}}</li>
{{/each}}
</ul>
